@import '~font-awesome/css/font-awesome.min.css';
html{
  font-size: 14px;
}
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;
// $primary-color: #6a7284;
.flex-item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-item-right {
  justify-content: flex-end
}
.text-nowrap{
  white-space: nowrap;
}
a:focus{
  box-shadow: none;
}
.table{
  td, th {
    border: .05rem solid #caced7 !important;
    border-bottom: .05rem solid #caced7 !important;
  }
}
.form-checkbox input:checked+.form-icon::before{
  border: .1rem solid #fff !important;
  border-left-width: 0 !important;
  border-top-width: 0 !important;
}
.column{
  padding: .4rem!important;
}
.form-input[readonly] {
  background-color: #fff!important;
}

.vdp-datepicker__calendar  {
  .cell.today{
    background: #66718a !important;
    color: #fff!important;
  }
}