@import '~font-awesome/css/font-awesome.min.css';
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;

$primary-color: #3b63e2;
$dark-color: #41474c;
$success-color: #55b962;
$secondary-color: #cbd8ff;
$white-color: #fff;
$secondary-white-color: #ababab;

a:focus{
  box-shadow: none;
}