@import '~font-awesome/css/font-awesome.min.css';
html{
  font-size: 14px;
}
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;
// $primary-color: #6a7284;
.flex-item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-item-right {
  justify-content: flex-end
}
.text-nowrap{
  white-space: nowrap;
}
a:focus{
  box-shadow: none;
}
.table{
  td, th {
    border: .05rem solid #caced7 !important;
    border-bottom: .05rem solid #caced7 !important;
  }
}
.form-checkbox input:checked+.form-icon::before{
  border: .1rem solid #fff !important;
  border-left-width: 0 !important;
  border-top-width: 0 !important;
}
.column{
  padding: .4rem!important;
}
.form-input[readonly] {
  background-color: #fff!important;
}

.vdp-datepicker__calendar  {
  .cell.today{
    background: #66718a !important;
    color: #fff!important;
  }
}

// table responsive
table { 
	width: 100%; 
	// border-collapse: collapse; 
	// margin:50px auto;
}
@media only screen and (max-width: 760px) {

	table.responsive { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table.responsive, thead, tbody, th, td, tr { 
    display: block; 
  }

  table tbody tr { 
    margin-bottom: 20px !important;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.responsive tr { border: 1px solid #ccc; }
	
	table.responsive td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
    min-height: 50px;
    text-align: center;
	}

	table.responsive td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		// top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}
}